body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:42px;
  width:200px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:101px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:90px;
  width:120px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:90px;
  width:120px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:8px;
  top:7px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:17px;
  top:1px;
  width:58px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u12_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u13_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:25px;
  top:8px;
  width:58px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:10px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u21_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u22 {
  position:absolute;
  left:10px;
  top:19px;
  width:13px;
  height:10px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u22_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:320px;
  height:506px;
}
#u0_img.a {
  width:321px;
  height:507px;
}
#u1.a {
  top:245px;
  width:316px;
}
#u2.a {
  top:100px;
}
#u2_img.a {
}
#u3.a {
}
#u4.a {
  top:100px;
}
#u4_img.a {
}
#u5.a {
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u9.a {
  position:absolute;
  left:8px;
  top:7px;
}
#u10.a {
}
#u10_img.a {
}
#u11.a {
}
#u12.a {
}
#u12_start.a {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end.a {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u13.a {
}
#u13_start.a {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end.a {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u14.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u15.a {
}
#u17.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u18.a {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u19.a {
}
#u19_img.a {
}
#u20.a {
}
#u21.a {
}
#u21_start.a {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end.a {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u22.a {
}
#u22_start.a {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end.a {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  width:320px;
  height:506px;
}
#u0_img.b {
  width:321px;
  height:507px;
}
#u1.b {
  top:245px;
  width:316px;
}
#u2.b {
  top:100px;
}
#u2_img.b {
}
#u3.b {
}
#u4.b {
  top:100px;
}
#u4_img.b {
}
#u5.b {
}
#u6.b {
}
#u6_img.b {
}
#u7.b {
}
#u8.b {
  position:absolute;
  left:0px;
  top:0px;
}
#u9.b {
  position:absolute;
  left:8px;
  top:7px;
}
#u10.b {
}
#u10_img.b {
}
#u11.b {
}
#u12.b {
}
#u12_start.b {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_end.b {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u12_line.b {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u13.b {
}
#u13_start.b {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_end.b {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u13_line.b {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u14.b {
  position:absolute;
  left:0px;
  top:0px;
}
#u15.b {
}
#u17.b {
  position:absolute;
  left:0px;
  top:0px;
}
#u18.b {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u19.b {
}
#u19_img.b {
}
#u20.b {
}
#u21.b {
}
#u21_start.b {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_end.b {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u21_line.b {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
#u22.b {
}
#u22_start.b {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_end.b {
  position:absolute;
  left:4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u22_line.b {
  position:absolute;
  left:0px;
  top:4px;
  width:13px;
  height:3px;
}
